<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="./assets/style/all.css">

</head>

<body>
  <div class="container-fluid p-0 bg-indexbg fixed-top">
    <nav class=" navbar navbar-expand-lg navbar-light  p-0" data-aos="fade-down">
      <h1 class='pl-4 mb-0'><a class="navbar-brand logoNav" href="#">Navbar</a></h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav w-100 justify-content-end">
          <li class="nav-item ">
            <a class="nav-link py-5 px-4 fz-5 loto-Bo font-weight-bold lh-s" href="#">Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-5 px-4 fz-5 loto-Bo font-weight-bold lh-s" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link py-5 px-4 fz-5 loto-Bo font-weight-bold lh-s" href="#">contact</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>


  <%- contents %>
    <footer class="bg-indexbg" data-aos-duration="800" data-aos-delay="200" data-aos="fade-up" data-aos-once="true">
      <nav
        class=" navbar navbar-expand-lg navbar-light  p-0 flex-row-reverse justify-content-around align-items-center">
        <h1 class=" mb-0'><a class=" navbar-brand logoNav" href="#">Navbar</a></h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div>
          <p class="m-0 text-secondary font-italic fz-sm">© 2020 Fixie. All Rights Reserved.</p>
        </div>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item ">
              <a class="nav-link py-5 px-4 fz-5 loto-Bo font-weight-bold lh-s" href="#">Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-5 px-4 fz-5 loto-Bo font-weight-bold lh-s" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-5 px-4 fz-5 loto-Bo font-weight-bold lh-s" href="#">contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/lax.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>